<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow">
  <a class="navbar-brand" href="#">Org Chart Demo (d3-org-chart)</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/basic" routerLinkActive="active">Basic Organization Chart</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 p-0">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
